<h2>login form goes here</h2>
<form class="" action="/auth/login" method="post">
  <label for="auth-email">email</label>
  <input type="email" name="email" id="auth-email" value="">

  <label for="auth-password">password</label>
  <input type="password" id="auth-password" name="password" value="">

  <input type="submit" name="" value="Log In">
</form>
