<div class="container is-widescreen">

  <% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
      <div class="notification is-danger">

        <%= msg %>
      </div>
      <% }) %>
      <% } %>
      <% if (alerts.success) { %>
        <% alerts.success.forEach(msg => { %>
          <div class="notification is-success">
            <%= msg %>

          </div>
          <% }) %>
          <% } %>
</div>
