@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Overwrite default styles;
$family-sans-serif: "Nunito", sans-serif;
$link: 'slategrey';
$footer-background-color: rgb(249, 248, 213);
$footer-padding: 3rem 1.5rem 3rem;

svg{
  width: 40px;
  height: 40px;
}

// Use bulma
@import "../../node_modules/bulma/bulma.sass";

// custom styling
.landinghero{
  background-image: url('../img/landing-moon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="date"]{
  color: $input-color;
  background-color: $input-background-color;
  border-color: $input-border-color;
  border-radius: $input-radius;
}

// responsive table 
@media screen and (max-width: 450px){
  #entry--table{
    overflow: scroll;
  }
}
