<section class="landinghero hero is-fullheight-with-navbar is-dark">
  <div class="hero-body">
    <div class="section has-background-grey">
      <h1 class="title ">
        Welcome to  MOON/D Journal.
      </h1>
      <h2 class="subtitle">
        An app where you can record your feelings, keep track of your self-care tasks, and see how your sentiments are affected by the celestial cycles.
      </h2>
    </div>
  </div>
</section>
