<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MooN/D Journal</title>
</head>

<body>
  <header>
    <h1>MOO<span>N</span><span>D</span> Journal</h1>
    <nav>
      <ul>
        <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% } else { %>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/todo">Self-Care Tasks</a></li>
        <li><a href="/journal">Journal</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <%- include('partials/alerts') %>
  <%- body %>
</body>

</html>
