<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c2bc9487e.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css"> -->
    <link rel="stylesheet" href="/css/mystyles.css">
    <title>MOO(N/D) Journal</title>
  </head>

  <body>
    <header>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="navbar-item">
            <a href="/" class=' is-flex title is-align-items-center has-text-light'>MOO
              <div class="is-flex is-flex-direction-column ">
                <div class="has-text-light subtitle m-0">N</div>
                <div class="has-text-light m-0 subtitle">D</div>
              </div>
              Journal
            </a>
          </div>
        </div>
        <div class="navbar-menu is-active" id="navbarBasicExample">
          <% if (!currentUser) { %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-dark" href="/auth/signup">Signup</a>
                <a class="button is-light" href="/auth/login">Log in</a>
              </div>
            </div>
          </div>
          <% } else { %>
          <div class="navbar-start">
            <a class="navbar-item" href="/profile">Profile</a>
            <a class="navbar-item" href="/todo">Self-Care Tasks</a>
            <a class="navbar-item" href="/entry">Journal</a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item" href="/auth/logout">Logout</a>
          </div>
          <% } %>
        </div>
      </nav>
    </header>

    <%- include('partials/alerts') %>
    <%- body %>

    <footer class="footer">
      <div class=" content has-text-centered">
        MOO+(N||D) Journal
      </div>
      <div class="content has-text-centered">
        Credit to:
        Unsplash <a href="https://unsplash.com/photos/uIf6H1or1nE">1</a>, <a href="https://unsplash.com/photos/cSm2a_-25YU">2</a>,
        <a href="https://mercuryretrogradeapi.com/about.html">Retrograde API</a>,
        <a href="https://www.icalendar37.net/lunar/app/">Lunar Calendar API</a>
      </div>
      <div class="content has-text-centered">
        Code hosted on <a href="https://github.com/monicaleep/Project2">
          <span class="icon has-text-dark">
            <i class="fab fa-github"></i>
          </span>
          github</a>
      </div>
    </footer>
  </body>
</html>
