<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>MooN/D Journal</title>
</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a href="/"class=' is-flex title is-align-items-center'>MOO
            <div class="is-flex is-flex-direction-column ">
              <div class="subtitle m-0">N</div>
              <div class="m-0 subtitle">D</div>
            </div>
            Journal
          </a>
        </div>

      </div>
      <div class="navbar-menu is-active" id="navbarBasicExample">
        <% if (!currentUser) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/auth/signup">Signup</a>
              <a class="button" href="/auth/login">Log in</a>
            </div>
          </div>
        </div>
        <% } else { %>
        <div class="navbar-start">
          <a class="navbar-item" href="/profile">Profile</a>
          <a class="navbar-item" href="/todo">Self-Care Tasks</a>
          <a class="navbar-item" href="/journal">Journal</a>
          <a class="navbar-item" href="/auth/logout">Logout</a>
        </div>
        <% } %>
      </div>
    </nav>
  </header>
  <div class="container">
    <%- include('partials/alerts') %>
    <%- body %>
  </div>
  <footer class="footer">
    <div class=" content has-text-centered">
      <p>
        MOO+(N||D) Journal
      </p>
    </div>
  </footer>
</body>

</html>
