<h2><%= currentUser.name %>'s Profile</h2>
<p>You have written <%=totalEntries%> journal entries</p>
<p>Your average happiness score is <%=happiness%></p>
<button type="button" name="button">delete account</button>
