<div class=" hero is-fullheight-with-navbar is-bold is-dark">


    <div class="hero-body">

    <div class="container has-text-centered">
      <h2 class='title'>Hello, <%= currentUser.name %></h2>
      <div class="section">
        <p>You have written <%=totalEntries%> journal entries, why not write some <a class="has-text-grey" href="/entry/new">more?</a></p>

      </div>
      <p>Your average happiness score is <%=happiness%>, why not try some <a class="has-text-grey"href="/todo">self care?</a></p>
      <div class="section">
        <form class="" method="post" action="profile/<%=currentUser.id%>?_method=DELETE">
          <button class='button is-danger is-outlined is-inverted' type="submit" name="" value="">Delete Account</button>
        </form>

      </div>
    </div>

  </div>
</div>
