<h1> All your self care tasks</h1>
<a href="/todo/new">New</a>
<ul>
  <% foundTodos.forEach(todo=>{ %>
    <li>
      <%= todo.task%> <form method="post" action="/todo/<%=todo.id%>?_method=PUT">
        <input type="submit" name="" value="Done today">
      </form>
      Last Done:
      <% if(todo.lastdone){ %>
        <%= todo.lastdone%>

      <%} else { %>
        never done
      <%}%>

    </li>
  <%})%>
</ul>
