<div class="hero is-large is-dark">
  <div class="hero-body">
    <h2 class='title'>Add a new self-care task</h2>
    <form class="" action="/todo" method="post">
      <div class="field">
        <label class="label has-text-light" for="task">Idea</label>
        <div class="control">
          <input class="input" type="text" name="task" value="">
        </div>
      </div>
      <div class="control">
        <input class="button is-dark is-inverted is-outlined" type="submit" name="" value="Submit">
      </div>
    </form>

  </div>
</div>
