<section class="landinghero hero is-fullheight-with-navbar is-dark">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title ">
          Write a new journal entry.
        </h1>
        <h2 class="subtitle">
          Be descriptive about how you felt that day.
        </h2>
      </div>
      <div class="column">
        <form class="" action="/entry" method="post">
          <div class="field">
            <label class="label is-size-5 has-text-light" for="date">Date:</label>
            <div class="control">
              <input class="p-1 text" type="date" id="date" name="date" required value="<%=today%>">
            </div>
          </div>
          <div class="field">
            <label class="label is-size-5 has-text-light" for="text">Entry Text:</label>
            <div class="control">
              <textarea class="textarea" name="text" rows="8" cols="80"></textarea>
            </div>
          </div>
          <input class="button is-dark is-inverted is-outlined" type="submit" name="" value="Save Entry">
        </form>
      </div>
    </div>
  </div>
</section>
